* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: aliceblue;
    font-family: sans-serif;
    background-image: url('img/background.png');
    background-position: center;
    object-fit: fill;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 0px;
}

canvas {
    background-color: aliceblue;
    border-radius: 3%;
}

h1 {
    font-family: 'boots';
    font-size: 48px;
    color: #53401e;
}

@font-face {
    font-family: 'boogaloo';
    src: url(fonts/Boogaloo.ttf);
}

@font-face {
    font-family: 'boots';
    src: url(fonts/boots.otf);
}